<?xml version="1.0" encoding="utf-8"?>
<Content Key="704a66de-b213-44fe-815a-f988c0707bbf" Alias="About Us" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2023-11-23T09:20:37</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c604acfe-4b21-4e46-81f4-b2b34d850fd1">content</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/456053f45f834568bdb785c3cb3e1e4e",
        "settingsUdi": "umb://element/38c5ec597c9948d59582509d8c4094a6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/456053f45f834568bdb785c3cb3e1e4e",
      "content": "<p>Welcome to our ocean-loving corner of the internet! We're a team of passionate marine enthusiasts who have come together to create a space where the wonders of the deep blue can be explored, celebrated, and shared. Our website is not just a place; it's a virtual pod where we invite you to join us on a fascinating journey into the extraordinary world of whales.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/38c5ec597c9948d59582509d8c4094a6",
      "hide": "0",
      "paddingTop": "",
      "paddingBottom": "",
      "paddingLeft": "",
      "paddingRight": "",
      "marginTop": "",
      "marginBottom": "",
      "marginLeft": "",
      "marginRight": ""
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "359d8d76-bc10-4e3a-94a6-84c1c0b5b3d3",
    "mediaKey": "84c46ed2-a382-402e-a683-1ddc3ed46f8c"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[Dive into the World of Whales!]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>