<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b97891b-bb88-4c50-827d-a458c3c2b7bb" Alias="Authors" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>authorList</ContentType>
    <CreateDate>2023-11-23T09:20:38</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="23e621c7-df61-4f4f-9ef7-2daa193c63b8">AuthorList</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "367909fc-bfe4-42db-81fa-7c8fb1c3cab9",
    "mediaKey": "84c46ed2-a382-402e-a683-1ddc3ed46f8c"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>