<?xml version="1.0" encoding="utf-8"?>
<Content Key="10bed36c-55b0-4bcb-906d-090f6bc6c8da" Alias="The Smallest Whale" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/TheSmallestWhale</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-11-23T16:29:33</CreateDate>
    <NodeName Default="The Smallest Whale" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-11-09T12:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[[
  "umb://document/8b7e274344034d5088d13ee32cafd5ae"
]]]></Value>
    </author>
    <categories>
      <Value><![CDATA[[
  "umb://document/2b2e1d9d2f1448b0a184088df1638ad8"
]]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3224ab618a7b4b6f937e18b4ec85cdc8",
        "settingsUdi": "umb://element/4bbd73e404154d77a03fdaafd688ff1d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/3224ab618a7b4b6f937e18b4ec85cdc8",
      "content": "<div class=\"flex flex-grow flex-col max-w-full gap-3 gizmo:gap-0\">\n<div class=\"min-h-[20px] text-message flex flex-col items-start gap-3 whitespace-pre-wrap break-words [.text-message+&amp;]:mt-5 overflow-x-auto\" data-message-author-role=\"assistant\" data-message-id=\"ac3fa70c-d600-4b07-9200-b45c0634609e\">\n<div class=\"markdown prose w-full break-words dark:prose-invert light\">\n<p>The smallest whale is the dwarf sperm whale (Kogia sima). It belongs to the toothed whale family and is part of the Kogiidae family. The dwarf sperm whale typically reaches lengths of about 8 to 9 feet (2.4 to 2.7 meters), making it one of the smallest species of whales. Despite its small size, the dwarf sperm whale, like its larger relatives, has a unique and fascinating lifestyle, inhabiting deep ocean waters and primarily feeding on squid and small fish.</p>\n</div>\n</div>\n</div>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "udi": "umb://element/4bbd73e404154d77a03fdaafd688ff1d",
      "hide": "0",
      "paddingTop": "",
      "paddingBottom": "",
      "paddingLeft": "",
      "paddingRight": "",
      "marginTop": "",
      "marginBottom": "",
      "marginLeft": "",
      "marginRight": ""
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "7a3f8e84-0bce-402a-8a62-307b46febfcb",
    "mediaKey": "8ffb0245-6377-4b06-800a-494626c2d99c"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <showFullArticleOnListPage>
      <Value><![CDATA[]]></Value>
    </showFullArticleOnListPage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>