<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b2e1d9d-2f14-48b0-a184-088df1638ad8" Alias="Whales" Level="3">
  <Info>
    <Parent Key="5756eed9-c96d-42ee-96e9-bccc5d1dd655">Categories</Parent>
    <Path>/Home/Categories/Whales</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-11-23T16:18:33</CreateDate>
    <NodeName Default="Whales" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>