<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ffb0245-6377-4b06-800a-494626c2d99c" Alias="DALL·E 2023 11 23 16.29.26 A Photorealistic Dwarf Sperm Whale" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DALLE20231123162926APhotorealisticDwarfSpermWhale</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-23T16:29:30</CreateDate>
    <NodeName Default="DALL·E 2023 11 23 16.29.26 A Photorealistic Dwarf Sperm Whale" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/imbpxd1x/dall-e-2023-11-23-162926-a-photorealistic-dwarf-sperm-whale.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>