<?xml version="1.0" encoding="utf-8"?>
<Media Key="84c46ed2-a382-402e-a683-1ddc3ed46f8c" Alias="DALL·E 2023 11 23 16.25.12 Cartoon Whales" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DALLE20231123162512CartoonWhales</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-23T16:25:18</CreateDate>
    <NodeName Default="DALL·E 2023 11 23 16.25.12 Cartoon Whales" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0rxmjbec/dall-e-2023-11-23-162512-cartoon-whales.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>