<?xml version="1.0" encoding="utf-8"?>
<Media Key="76ddd6d2-6437-4898-87ca-88eaf3c839e1" Alias="DALL·E 2023 11 23 16.18.07 A Cartoon Whale Holding An Aln Key, Similar To The Docker Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DALLE20231123161807ACartoonWhaleHoldingAnAlnKeySimilarToTheDockerLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-23T16:18:17</CreateDate>
    <NodeName Default="DALL·E 2023 11 23 16.18.07 A Cartoon Whale Holding An Aln Key, Similar To The Docker Logo" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0tln03rx/dall-e-2023-11-23-161807-a-cartoon-whale-holding-an-aln-key-similar-to-the-docker-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>